<div class="w-75">

    <h1>予約一覧</h1>


    <div class="w-50">
        <%= form_with url: dashboard_reservations_path, method: :get, local: true do |f| %>
            <div class='input-group date datetimepicker '>
                <%= f.text_field :picked_date, class: 'form-control datetimepicker' %>
            </div>
            <%= f.submit "検索", class: "submit-button" %>
        <% end %>
    </div>


    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">予約ID</th>
                <th scope="col">名前</th>
                <th scope="col">日付</th>
                <th scope="col">時間</th>
            </tr>
        </thead>
        <tbody>
            <% @reservations.each do |reservation| %>
            <tr>
                <th scope="row"><%= reservation.id %></th>
                <td><%= link_to reservation.user.full_name, dashboard_user_path(reservation.user_id) %></td>
                <td><%= reservation.day %></td>
                <td><%= reservation.time %></td>
            </tr>
            <% end %>
        </tbody>
    </table>




</div>
