
<%= form_with url: dashboard_user_path, model: @user, local: true do |f| %>
<div>
    <%= f.label :family_name %>
    <%= f.text_field :family_name %>
</div>
<div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
</div>
<div>
    <%= f.label :family_name_reading %>
    <%= f.text_field :family_name_readeing %>
</div>
<div>
    <%= f.label :first_name_reading %>
    <%= f.text_field :first_name_reading %>
</div>

<div>
    <%= f.label :email %>
    <%= f.email_field :email %>
</div>
<div>
    <%= f.label :password %>
    <%= f.password_field :password %>
</div>
<div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
</div>
<div>
    <%= f.submit "Update User" %>
</div>
<% end %>
