<div class="w-75">

  <%= notice %>

    <!-- TODO 利用者絞り込みフォーム作成 -->
  <h2>利用者一覧</h2>


    <%= form_with url: dashboard_users_path, method: :get, local: true, class: "input-group" do |f| %>
        <%= f.text_field :keyword, value: @keyword, class: "form-control input-group-prepend", placeholder: "キーワードを入力" %>
      <span class="input-group-btn input-group-append">
        <%= f.submit "検索",class: "btn btn-primary" %>
      </span>
    <% end %>


    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col" class="w-25">ID</th>
          <th scope="col">名前</th>
          <th scope="col">メールアドレス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td scope="row"><%= user.id %></td>
          <td>
            <%= link_to user.full_name, dashboard_user_path(user) %>
          </td>
          <td><%= user.email %></td>
          <td>
            <%= link_to "編集", edit_dashboard_user_path(user) %>
          </td>
          <td>
            <%= link_to "削除", dashboard_user_path(user), method: :delete, data: {confirm: "削除したデータは二度と戻せません\n削除しますか？"} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

</div>
