<div class="w-75">

  <%= notice %>

  <h1>利用者一覧</h1>

  <div class="w-75">
    <h3>新規利用者登録フォーム</h3>
    <%= form_with  model: User.new, url: dashboard_users_path ,local: true, class: "form-horizontal" do |f| %>
      <div class="form-group row">
        <div class="col-sm-6">
          <%= f.label :family_name,'姓', class: "control-label" %>
          <%= f.text_field :family_name, class: "form-control" %>
        </div>
        <div class="col-sm-6">
          <%= f.label :first_name, '名', class: "control-label" %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <%= f.label :family_name_reading, '姓(かな)', class: "control-label" %>
          <%= f.text_field :family_name_reading, class: "form-control" %>
        </div>
        <div class="col-sm-6">
          <%= f.label :first_name_reading,'名(かな)', class: "control-label" %>
          <%= f.text_field :first_name_reading, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス', class: "control-label" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, 'パスワード', class: "control-label" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード(確認)', class: "control-label" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <%= f.submit '登録する', class: "btn btn-primary" %>
    <% end %>
  </div>



    <!-- TODO 利用者絞り込みフォーム作成 -->
  <h3>利用者一覧</h3>


    <%= form_with url: dashboard_users_path, method: :get, local: true, class: "input-group" do |f| %>
        <%= f.text_field :keyword, value: @keyword, class: "form-control input-group-prepend", placeholder: "キーワードを入力" %>
      <span class="input-group-btn input-group-append">
        <%= f.submit "検索",class: "btn btn-primary" %>
      </span>
    <% end %>


    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col" class="w-25">ID</th>
          <th scope="col">名前</th>
          <th scope="col">メールアドレス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td scope="row"><%= user.id %></td>
          <td>
            <%= link_to user.full_name, dashboard_user_path(user) %>
          </td>
          <td><%= user.email %></td>
          <td>
            <%= link_to "編集", edit_dashboard_user_path(user) %>
          </td>
          <td>
            <%= link_to "削除", dashboard_user_path(user), method: :delete, data: {confirm: "削除したデータは二度と戻せません\n削除しますか？"} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

</div>
