<div class="w-75">

    <h1>利用者一覧</h1>

    <%= form_with url: dashboard_users_path, model: @user, local: true do |f| %>
        <div>
            <%= f.label :family_name %>
            <%= f.text_field :family_name %>
        </div>
        <div>
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
        </div>
        <div>
            <%= f.label :family_name_reading %>
            <%= f.text_field :family_name_reading %>
        </div>
        <div>
            <%= f.label :first_name_reading %>
            <%= f.text_field :first_name_reading %>
        </div>

        <div>
            <%= f.label :email %>
            <%= f.email_field :email %>
        </div>
        <div>
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>
        <div>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
        </div>
        <div>
            <%= f.submit "Create User" %>
        </div>
    <% end %>

    <!-- TODO 利用者絞り込みフォーム作成 -->

    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col" class="w-25">ID</th>
          <th scope="col">名前</th>
          <th scope="col">メールアドレス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>   <!--Question id 降順にするには？-->
        <tr>
          <th scope="row"><%= user.id %></td>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to "編集", edit_dashboard_user_path(user) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

</div>
