<div class="col-12 text-center title">
    <h1><%= @user.full_name %>さんの予約一覧</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">日付</th>
            <th scope="col">時間</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <body>
    <!-- Question newを経由せず直接createに飛んでる => reservation.require()が出来ない-->
    <h4>新規予約作成フォーム</h4>
    <div class="col-12 mt-3 content">
        <%= form_with(model: @reservation,url: dashboard_reservations_path, local: true) do |f| %>
            <div class="day form-group">
                <%= f.label :day, '日付' %>
                <%= f.text_field :day, class:  "form-control datetimepicker" %>
            </div>
            <div class="time form-group">
                <%= f.label :time, '時間' %>
                <%= f.select :time, [["10:35", "10:35"],
                                     ["11:35", "11:35"],
                                     ["13:50", "13:50"],
                                     ["14:50", "14:50"],
                                     ["15:50", "15:50"],
                                     ["17:20", "17:20"],
                                     ["18:20", "18:20"]], include_blank: "選択して下さい" %>      <!--書き方がスマートじゃない…-->
             </div>
            <%= f.hidden_field :user_id, value: @user.id %>
            <%= f.hidden_field :start_time, value: @start_time %>   <!--TODO day + ""  + time をここに代入したい + check_reserveをsubmit前に行いたい-->
            <div class="submit">
                <%= f.submit value: '予約する', class: 'submit-button' %>
            </div>
        <% end %>
    </div>
        <% @reservations.each do |reservation| %>
            <tr>
                <td><%= reservation.day %></td>
                <td><%= reservation.time %></td>
                <td>
                    <%= link_to "削除", dashboard_reservation_path(reservation), method: :delete %>
                </td>
            </tr>
        <% end %>
    </body>
</table>
