<div class="simple-calendar">
  <div class="calendar-heading">
    <% reservations = Reservation.reservations_after_three_month %>
    <% start_date = Date.today.strftime("%Y-%m-%d") %>
  </div>

  <table class="table table-striped">
    <thead>
      <% date_range.each_slice(7) do |week| %>
        <%= content_tag :tr, class: calendar.tr_classes_for(week) do %>
          <td>
            <%= link_to t('simple_calendar.previous', default: '1週間前'), calendar.url_for_previous_view %>
          </td>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day), :style => 'width:1px' do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day.strftime("%-m/%-d\n #t('date.abbr_day_names')[%w]"), sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day.strftime("%-m/%-d\n (#{I18n.t('date.abbr_day_names')[day.wday]})"), sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
          <td>
            <%= link_to t('simple_calendar.next', default: '1週間後'), calendar.url_for_next_view %>
          </td>
        <% end %>
      <% end %>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <% times.each do |time| %>
        <tr class="reservation_line">
          <td class="time_column"><%= time %></td>
          <% week.each do |day| %>
            <td class="reservation_status_box">
              <% if reservation_status(reservations, current_user.id, day, time) === "reservation_acceptable" %>
              <%= link_to new_reservation_path(day: day, time: time) do %>
                <%= '○' %>
              <% end %>
              <% elsif reservation_status(reservations, current_user.id, day, time) === "reserved" %>
                <%= '済' %>
              <% elsif reservation_status(reservations, current_user.id, day, time) === "reservation_not_acceptable" %>
               <%= '×' %>
              <% else %>
                <%= '×' %>
              <% end %>
          </td>
          <% end %>
          <td class="time_column"><%= time %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
